### Your tasks for this lab:

1. Create a jupyter notebook stored in `/notebooks` for your initial work. In it, start to document your process. Include some of the following:
* the topic you would like to focus on
* some initial data you found that could work for your analysis
* initial exploratory data analysis to see if data gathered is viable
* outside information that could be useful to your process (charts, articles, links that are relevant to your topic.
2. Find some initial data pertaining to your topic and store the files in the `/data` folder.
3. If you would like to scrape data, find some source that could potentially be scraped and begin inspecting it for ways to obtain it. It might be beneficial to do this in a jupyter notebook initially and then once you have some working code, place it into a `*.py` file in `/scripts`.
4. Create a `README.md` file containing information about your project. Keep it simple. We'll continue to add to this over time. 
5. An initial view in your django application (we'll learn templating next week but feel free to work ahead)

Minimum requirements for lab grade are:
* a github link to your repo with commits
* a `*.ipynb` file in `/notebooks` with your initial work (see above bulletpoints)
* a potential or relevant dataset in `/data`
* a `README.md` file

Commit your changes to the your repo at the end of class time and submit a link to google classroom. You have until Sunday to add further commits.

## I will be pulling information from the kaggle api:
https://www.kaggle.com/uciml/student-alcohol-consumption

### 3 files:
-student-mat.csv

-student-merge.R

-student-por.csv

For now I will explore them in this notebook and then create the scripts.py and the import.py to my app.

In [1]:
import pandas as pd

In [2]:
mat_class = pd.read_csv("student-mat.csv")

In [3]:
mat_class

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
por_class = pd.read_csv("student-por.csv")

In [5]:
por_class

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11